*.html linguist-generated=true linguist-detectable=false
*.htm linguist-generated=true linguist-detectable=false

*.css linguist-generated=true linguist-detectable=false
*.js linguist-generated=true linguist-detectable=false


*.py linguist-detectable=true

*.exe binary
*.dll binary